.bank-branchs {
  padding: 60px 0;
}

.bank-branchs h2 {
  padding: 0 $side-padding-mobile;
  margin-bottom: 35px;
  // display: block;
  // z-index: -2;
}

.bank-branchs__map {
  height: 381px;
  width: 100%;
}

.bank-branchs__map-marker {
  position: relative;
  width: 29px;
  height: 33px;
  top: -33px;
  left: -14.5px;
  background-repeat: no-repeat;
  background-image: url(../../img/location-icon.svg);
}

@media (min-width: $tablet-width) {
  .bank-branchs {
    padding: 80px $side-padding-tablet;
  }
  .bank-branchs h2 {
    padding: 0;
    margin-bottom: 45px;
  }
  .bank-branchs__map {
    height: 462px;
  }
  .bank-branchs__map-marker {
    width: 35px;
    height: 40px;
    top: -40px;
    left: -17.5px;
    background-size: contain;
  }
}

@media (min-width: $desktop-width-start) {
  .bank-branchs {
    padding: 98px $side-padding-desktop;
  }
  .bank-branchs h2 {
    margin-bottom: 70px;
  }
}
