.social-list {
  display: flex;
  @include list-reset();
}

.social-list__item {
  a {
    color: #1F1E25;
    transition: color 0.3s linear, opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
      color: blue;
    }

    &:active {
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width-start) {
  .social-list__item:not(:last-child) {
    margin-right: 15px;
  }
}
